<a href="https://colab.research.google.com/github/Shaif95/AI_Camp_Week3/blob/master/Kaitlyn_intro_to_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics

The goal of this notebook is to provide students with knowledge of the fundamentals of python. We will take a more interactive approach than most class room settings and ask the students to do some research on their own then bring their learnings back here to share with the class.

### Variables

Variables work by assigning a value to a specific word or string of characters. It can be done using the "=" sign. This assigns whatever is on the right the string of characters on the left. We'll go ahead and try assigning a few variables in the next block.

In [ ]:
a = 17
b = 5
c = a**b

a # when you put a variable by itself, its value will be printed (This is a comment - anything after a # on the same line will be ignored)

17

We can also perform basic algebra to these variables and save the output to a new variable

In [ ]:
d = a + b
d

22

In [ ]:
e = c - a
e

1419840

In [ ]:
f = b * c
f

7099285

In [ ]:
g = a / b
g

3.4

Sometimes we want to update the value of one variable, so we can do this

In [ ]:
g = g*2 # the same thing works for /, +, and -
g

6.8

This can get quite annoying with longer variable names, so we can do the following

In [ ]:
f/=2 # there is also +=, -=, and *=
f

3549642.5

There are tons of different types of variables we can make. For this next section, we will ask the students to go out and figure out how to create the following types of variable: strings, floats and booleans. Once you have created these variables, try the same operations we used above and see what they do.

Create a few string variables here, then try to add them together, subtract them, multiply them and divide them to see what happens. You may get an error, and thats okay. Its important to know what can and can't be done with a type of data.

In [ ]:
a = "1"
b = "2"
c = str(a) + str(b)

Create a few float variables here, then try to add them together, subtract them, multiply them and divide them to see what happens. You may get an error, and thats okay. Its important to know what can and can't be done with a type of data.

In [ ]:
 a = 100.1
 b = 20.475

Create a few boolean variables here, then try to add them together, subtract them, multiply them and divide them to see what happens. You may get an error, and thats okay. Its important to know what can and can't be done with a type of data.

In [ ]:
ks = True
ks2 = True
ks3 = ks2 + ks

### Lists

Lists work similarly to the variables we created above but store multiple values. We'll cover the three types metioned above then ask the students to try and create their own versions of them.

First up, lists. you can create a list with the following code.

In [ ]:
my_list = [1, 2, 3, 7, 5]

To access a specific item from the list, you would do the following.

In [ ]:
my_list[2] # here, 2 is the index you are accessing

3

The first element in the list is at index 0, then the second element is at index 1 and so on.

In [ ]:
print(my_list[0], my_list[1], my_list[2], my_list[3], my_list[4])

1 2 3 4 5

**TODO:** Now its your turn. We will have students create their own version of this data type.

Below, create a list of your favorite colors.

In [ ]:
#create a list of your favorite colors
fav =["green", "blue","yellow" ]
fav

['green', 'blue', 'yellow']

Now figure out how to `append()` an item to your list. Maybe google: "how to append an item to a list python"

In [ ]:
# append another color to the list of your favorite colors
fav.append("orange")
fav

['green', 'blue', 'yellow', 'orange']

### For loops, while loops, and if statements

We will learn more about for loops throughout this whole week. For now, we will use them to go through a list and print out each element.

In [ ]:
my_list = {1,2,3,4,5}

for i in my_list:
  a ="hi"
  print(a)

hi
hi
hi
hi
hi

Next, we will look at how to make a list run a specific number of times.

In [ ]:
for i in range(1,5): # range functions the same here as the list [0,1,2,3,4,5]
    print('i = ', i)

i =  1
i =  2
i =  3
i =  4

Next, we'll take a look at while loops. In general, you can make a while loop do anything that a for loop can do but with slightly different syntax, so if you find youself understanding while loops better than for loops, you can just focus on using while loops.

In the block below, we will make a while loop that runs 5 times. For while loops, we can't specify how long they will run for ahead of time so its important for us to create an achievable exit condition. An exit condition is just the condition that will cause the code to stop running. This is checked every time, immediatly before the code runs or reruns. We want to make sure that this condition will eventually happen, otherwise the code will run until something crashes or we manually close it

In [ ]:
i = 2
while i < 5:
    print("Hello World")
    print(1)
    i = i + 1

Hello World
1
Hello World
1
Hello World
1

Now for if statements. The if-elif-else statement is used to conditionally execute a statement or a block of statements. Conditions can be true or false, execute one thing when the condition is true, something else when the condition is false.

In [ ]:
a = 7
b = 2
if (a > b):
    print("a is greater than b")

a is greater than b

We can add else statements to the above. An else statement is what will be run if the original statement is false.

In [ ]:
a = 1
b = 2
if a > b:
    print("a is greater than b")
else: #e
    print("b is less than a")

b is less than a

Additionally, we can use elif statements to add additional conditions to the structure.

In [ ]:
a = 1
b = 5
if a > b:
    print("a is greater than b")
elif a == b:
    print("a equals b")
else: #e
    print("b is greater than a")

b is greater than a

Now its your turn. Either break up into 3 teams and have each team solve one of the blocks or solve them all together.

In the next block, create a for loop that counts from 0 to 10 and prints out each number. Additionally, if the number is less than 3, print out "This is a small number".

In [ ]:
# for loop that counts from 0 to 10 -- check out the for loop that uses the range() function above.
i = 0
for i in range(0,10,2):
  print(i)
  if i<3:
    print("this is a small number")

0
this is a small number
2
this is a small number
4
6
8

In the next block, create a while loop that prints out all of the even numbers between 1 and 10. Additionally, if the number is between 5 and 9, print the number out a second time.

In [ ]:
i=0
while i < 11:
  print(i)
  i = i +2
  if (i > 5) and (i < 9):
    print(i)

0
2
4
6
6
8
8
10

In the next block, ask the user to input 3 items and add them all to a list. Then. create a loop that prints out each item that the user entered.

### Functions

Functions act like variables but instead of storing a value, they store lines of code. Below we can see how a function is created and used.

In [ ]:
def my_first_function(): #def to define a function
    print("hii")
    print("hi again")
    print('Hello world')

In [ ]:
my_first_function()

hii
hi again
Hello world

Whenever the computer sees the function being used, it automatically runs the code stored inside of that function.

Additionally, functions can take in one or multiple values to use in their code, as we can see below.

In [ ]:
def add_numbers(a, b, c): #parameters
    total = a + b + c
    print(total)

In [ ]:
add_numbers(1, 2, 3) # Arguments

NameError: ignored

Finnally, functions can have a "return" statement. This is what the function sends back to the place it was called. You can think of functions like black boxes where the parameters in the parentheses are the input and the return statement is the output. This output can be saved to a variable to be used later. We will redefine the add_numbers function from above using a return statement to show this off.

In [ ]:
def add_numbers(a, b, c):
    total = a + b + c
    return total

In [ ]:
out = add_numbers(1, 2, 3)
out

6

Now its your turn! You can either work on each of the following challenges in teams of 2 or walk through each one as a group. In any case, it is recommended to look at them at a high level together so that everyone understands the concepts in each section.

In the block below, create a function that takes in 2 numbers and returns True if the product of the numbers is positive and False in all other cases.

In [ ]:
def is_product_positive(num1, num2):
    product = num1 * num2
    if product > 0:
        return True
    else:
        return False
        result = is_product_positive(5, 6)
print(result)  # Output: True

result = is_product_positive(-3, 4)
print(result)  # Output: False

result = is_product_positive(-2, -9)
print(result)  # Output: True

True
False
True

In the block below, create a function that takes in a string and returns the string in reverse order. For example, if the input was "Hello" the output should be "olleH"

In [ ]:
   def reverse_string(input_string):
    reversed_string = input_string[::-1]
    return reversed_string
result = reverse_string("Hello")
print(result)  # Output: "olleH"

olleH

In the block below, create a function that takes in a list and prints out each element 1 at a time. For example, if the input was ['Dog', 'Cat', 'Hamster'], the output should be

Dog

Cat

Hamster

In [ ]:
def print_list_elements(input_list):
    for element in input_list:
        print(element)
        animals = ['Dog', 'Cat', 'Hamster']
print_list_elements(animals)

Dog
Cat
Hamster

# Modules \(Pandas and numpy\)

### Why are there Pandas in Python? What is numpy?

In the following section we will be covering modules. Above, we leaned about functions and the power that they have. Modules let us use functions that other people have created to solve problems that we commonly encounter \-\- you can think of this as standing on the shoulders of giants by being just lazy enough to want to write code over and over again.

For example, if we find that we frequently have to get a random number, instead of coding that entire process every time, you could just import a function that either you or someone else created in the past. Basically, modules and importing lets us have access to the work of many other coders, making it a very powerful tool.

### Numpy \- For Scientific Computing in Python

Below, we will import the numpy module and use a few of its functions to show off this power. Numpy is a library which is coded outside of python, making it faster. It gives us access to better and more efficient lists

For any module you encounter, you should be prepared to <u>read the docs.</u> The "docs" are how we can learn to use each module, and you can find Numpy's here: [https://numpy.org/. ](https://numpy.org/)

**For using modules, you'll want to import them like so below.**

In [ ]:
import numpy as np # we rename numpy to np so we don't have to type 5 letters every time.

With Numpy, we can make a list of zeros like this:

In [ ]:
import numpy as np
my_array = np.ones((2,3)) # (2,3) is the shape of the array
my_array

array([[1., 1., 1.],
       [1., 1., 1.]])

Or a list of random decimal numbers like this:

In [ ]:
import numpy as np
np.random.randint(0,2) # we don't need to put the shape in braces this time

0

Just like regular variables, we can do operations on this list

In [ ]:

my_array2 = my_array + 1
my_array3 = my_array2 * 2
print(my_array2)
print(my_array3)

NameError: ignored

**TODO:** Make an array from my\_array of all \-3's:

In [ ]:
#make an array of all -3's
import numpy as np

array_of_neg_threes = np.full((5,), -3)
print(array_of_neg_threes)

[-3 -3 -3 -3 -3]

### Pandas \- A Data Scientist's Best Friend

With numpy briefly explored above, we will now check out a little bit about pandas. Pandas is an awesome module that helps us deal with large amounts of data in an easy to understand way. Below we will look at some of its many functions

First, we'll have to import it. It is common practice to \`import pandas as pd\` but you are free to import it as you see fit.

In [ ]:
import pandas as pd

Pandas works with objects called **DataFrames**. Not sure what that is? Read the docs: [https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html.](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html)

Or you can simply look below.

In [ ]:
import pandas as pd
data = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
data

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

Our dataframe is pretty small so it's easy to show the whole thing in the output, but for larger dataframes it is important to only show a few of the rows so we don't have to scroll all over. To do this, we can use the df.head\(x\) function to show the first x rows of the dataframe or tail\(x\) to show the last x number of rows

In [ ]:
data.head(2)

   A  B  C
0  1  4  7
1  2  5  8

In [ ]:
data.tail(1)

   A  B  C
2  3  6  9

Alternatively you can look at just 1 row at a time by calling it similarly to a dictionary

In [ ]:
data['A']

0    1
1    2
2    3
Name: A, dtype: int64

You can also get various details about the dataframe with the following functions.

In [ ]:
# Gives you the names of all of the columns
data.columns

Index(['A', 'B', 'C'], dtype='object')

In [ ]:
# Gives you the names of all the columns, the number of rows in that column and a brief description of the values stored in those columns
data.describe()

         A    B    C
count  3.0  3.0  3.0
mean   2.0  5.0  8.0
std    1.0  1.0  1.0
min    1.0  4.0  7.0
25%    1.5  4.5  7.5
50%    2.0  5.0  8.0
75%    2.5  5.5  8.5
max    3.0  6.0  9.0

In [ ]:
# Tells you more about what is stored in those columns
data.info()

AttributeError: ignored

Create a dataframe with the following information:
import pandas as pd

Name	Age	City
John	25	New York
Emma	28	London
Mike	32	Paris
Sophia	30	Tokyo

**Next we will check out iterating through a dataframe.**

In [ ]:
# Going through a row 1 value at a time
import pandas as pd

data = {
    'Name': ['John', 'Emma', 'Mike', 'Sophia'],
    'Age': [25, 28, 32, 30],
    'City': ['New York', 'London', 'Paris', 'Tokyo']
}

df = pd.DataFrame(data)
print(df)

     Name  Age      City
0    John   25  New York
1    Emma   28    London
2    Mike   32     Paris
3  Sophia   30     Tokyo

In [ ]:
# going through the entire dataframe 1 value at a time

data = {
    'Name': ['John', 'Emma', 'Mike', 'Sophia'],
    'Age': [25, 28, 32, 30],
    'City': ['New York', 'London', 'Paris', 'Tokyo']
}

df = pd.DataFrame(data)

print(50 * "-")
for col_name in df.columns:
    for value in df[col_name]:
        print(value)
print(50 * "-")

--------------------------------------------------
John
Emma
Mike
Sophia
25
28
32
30
New York
London
Paris
Tokyo
--------------------------------------------------

In [ ]:
student_scores = {      #Dictionary
    'John': True,
    'Emma': 92,
    'Mike': 78,
    'Sophia': 95
}

In [ ]:
student_scores["John"]

True

In [ ]:
for key in student_scores.keys():
    print(key)

John
Emma
Mike
Sophia

In [ ]:
for key in student_scores.values():
    print(key)

True
92
78
95

In [ ]:
for key in student_scores.items():
    print(key)

('John', True)
('Emma', 92)
('Mike', 78)
('Sophia', 95)